body {
    display: flex;
    justify-content: space-around;
}

.calculator-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    width: 600px;
    height: 750px;
    margin-top: 50px;
}

.screen-wrapper {
    border: 2px solid black;
    flex: 1 1 0;
    width: 90%;
    margin-top: 5%;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 192px;
}

.previous-value {
    margin: 5% 10% 5% 5%;
    font-size: 32px;
}

.current-value {
    margin: 5% 7% 5% 5%;
    font-size: 40px;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 3 1 0;
    width: 90%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 30px;
}

button {
    height: 75%;
    max-width: 90px;
    max-height: 90px;
    font-size: 24px;
    flex: 1 1 0;
}

.button.clear {
    height: 75%;
    max-width: 390px;
}